<div class="{{@panel.layoutRowClass}} {{@panel.layoutColumnClass}} {{@panel.otherClasses}} bg-indigo-300" data-test-panel={{@panel.id}}>
  <h1>{{@panel.id}}</h1>
  <img src={{@panel.url}} class="w-full" data-test-panel-base-image />
</div>
